PORT=5000
MONGODB_URI=mongodb+srv://maratheprathmesh121_db_user:Pratham(123)@my-cluster.1wsxftz.mongodb.net/realEstateManagement?retryWrites=true&w=majority
JWT_SECRET=8fKvVP2xQm7rzL4nT6wYc3B1uC5sE8aJ0dF9gK2pV7xZ4mN1qW6rT3yU8iO5
JWT_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=ddyxht89k
CLOUDINARY_API_KEY=735857277299729
CLOUDINARY_API_SECRET=PXDG_G7fqSaYQ4TfopfrH-zgXvw

# Email (optional, for contact seller feature)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_app_password

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:3000
